.container{
    max-width: 1200px;
    margin: 30px auto;
    overflow: auto;
    min-width: 300px;
    border: 2px solid #00FFFF;
    box-shadow: 0px 0px 15px #86CEEB;
    padding: 30px;
    border-radius: 10px;
}